<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>typerhead</title>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

  	
	<style>
		h1{
			position:fixed;
			top: 22%;
			left: 40%;
			font:"Garamond";
			font-family: 'Archivo Black', sans-serif;
			color:#4285F4;
			font-size: 70px;
		}
		
		form{
			position: fixed;
			top: 39%;
			left: 24%;
			display: inline;
			
		}
		#input{
			border: 1px solid black;
    			border-radius: 4px;
    			width:680px;
    			height:42px;
		}
		button{
			width:90px;
			height:45px;
		}
		</style>
	
		<script>
			$(document).ready(function(){
				
				 $('#input').typeahead({
				  	source:function(query, result){
				  		var query = document.getElementById("input").value;
				  		$.ajax({
				  			method:'GET',
				  			url:'/'+query,
				  			success:function(data){
				  				result(data);
				  			}
				  		})
				  	}
				 });
			});
		</script>
</head>
<body>
<div>
<h1>foo bar</h1>

</div>
    <form class="form-inline" method="POST">
    		<input type="text" name="qry" autofocus="autofocus" autocomplete="off" class="form-control" id="input" />
  		<button class="btn btn-default" type="submit">Enter </button>
	</form>
</body>
</html>